@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-darkd-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white:#FFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-grayish-blue);
    width: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--very-dark-grayish-blue);

}
article{
    margin: 2rem auto;
    width: 80%;
    background-color: var(--white);
    border-radius: .6rem;
}
main{
    padding: 1.5rem;
}
.card__image{
    width: 100%;
    border-radius: .6rem .6rem 0 0;
}
.card__container-title{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
}
.card__rodape{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: .7rem;
   
}
.card__rodape-user{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.card__rodape-perfil{
    width: 50px;
    border-radius: 100%;
}
.card__rodape-share{
    align-self: center;
    background-color: var(--light-grayish-blue);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: .2rem;
    margin-right: 8%;
}
.card__rodape-share:hover{
    background-color: var(--grayish-blue);
    cursor: pointer;
}
.card__rodape-share img{
    padding: .2rem;
}
.card__share{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--desaturated-darkd-blue);
    height: 60px;
    align-items: center;
    border-radius: 0 0 .6rem .6rem;
}
.card__share a{
    color: var(--grayish-blue);
    letter-spacing: .6rem;
    text-decoration: none;
}
.mobile{
    background-color: var(--white);
}

.hidden{
    display: none;
}
.card__share a:hover{
    padding: .4rem;
    border-radius: .5rem;
    background-color: var(--very-dark-grayish-blue);
}

@media screen and (min-width: 768px){
    body{
        height: 100vh;
        align-content: center;
    }
    article{
        display: flex;
        position: relative;
        max-width: 700px;
        border-radius: 0 .6rem .6rem 0;
    }
    .card__picture{
        width: 100%;
    }
    .card__image{
        height: 100%;
        border-radius: .6rem 0 0 .6rem;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card__rodape-user{
        justify-content: flex-start;
    }
    .card__rodape-perfil{
        margin-right: 2rem;
    }
    .card__rodape-share{
        width: 50px;
        height: 50px;
        padding: .6rem;
    }
    .mobile{
        display: none;
    }
    .share-desk{
        right: -9%;
        position: absolute;
        width: 30%;
        border-radius: .6rem;
        top: 40%;
    }
    .seta{
        position: absolute;
        padding: 10px;
        border: solid transparent;
        transform: rotate(-45deg);
        bottom: -7px;
        background-color: var(--desaturated-darkd-blue);
        right: 50%;
        border: transparent;
    }
}

